body{
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 95%);

}
#Calculator{
    font-family: arial,sans-serif;
    background-color: hsl(0, 0%, 20%);
    border-radius: 15px;
    max-width: 450px;
    overflow:hidden;
}
#display{
    width: 100%;
    padding: 20px;
    padding-right: 25px;    
    font-size: 2rem;
    text-align: right;
    border: none;
    color: white;
    background-color: hsl(0, 0%, 10%);
    box-sizing: border-box; 
}
#key{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 25px;
}
button{
    width: 100%;
    height: 75px;
    border-radius: 50px;
    border: none;
    font-size: 2rem;
    color: white;
    background-color: hsl(0, 0%, 30%);
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color:hsl(0, 0%, 40%);
}
button:active{
    background-color:hsl(0, 0%, 55%);
}
button.equal {
  background-color: hsl(200, 100%, 50%);
}
.operationBtn{
    background-color:hsl(35, 100%, 50%) ;
}
.operationBtn:hover{
    background-color:hsl(35, 100%, 65%) ;
}
.operationBtn:active{
    background-color:hsl(35, 100%, 75%) ;
}

